fieldset.date-input {
    display: grid;

    grid-template:
        "legend legend legend" auto
        "day month year" auto
        / 1fr 1fr 2fr;

    grid-gap: 0 1rem;

    legend, label {
        display: inline-block;
    }

    > legend { grid-area: legend; }
    > .day { grid-area: day; }
    > .month { grid-area: month; }
    > .year { grid-area: year; }

    &:has(> .form-error) {
        grid-template:
            "legend legend legend" auto
            "error error error" auto
            "day month year" auto
            / 1fr 1fr 2fr;

        > .form-error {
            grid-area: error;
            margin-bottom: 0;
        }
    }
}
